* {
    margin: 0;
    border: 0;
    padding: 0;
}

#navigation-top {
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;

}

#navigation {
    background-color: black;
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
}

.nav-button {
    margin-top: 0px;
    margin-bottom: 0%;
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    width: 10rem;
    height: 3rem;
    font: bold;
    margin: auto;
    box-sizing: border-box;
    cursor: pointer;
    font-size: medium;
}

.nav-button:hover,
.nav-button-top:hover {
    background-color: gray;
    color: white;
}

#About-body {
    padding: 1rem;
    background: linear-gradient(65deg, rgb(8, 8, 8) 20%, rgb(93, 72, 246) 70%, rgb(162, 163, 237) 100%);
    color: white;
}

#About-para {
    font-weight: bold;
    text-align: justify;
    font-size: 1.25rem;
    padding-left: 1rem;
}

.services-message {
    padding-left: 1.5rem;
    font-size: 1rem;
    background-color: black;
    color: white;
}

#Service,
#about-tittle {
    background-color: antiquewhite;
    border: none;
    margin-top: 0;
    margin-left: 0;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#home {
    background-color: aquamarine;
    border: none;
    margin-top: 0;
    border-bottom: none;
    height: 3rem;
    padding: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
}

.service4,
.service3,
.service2,
.service1 {
    padding: 1.5rem;
    transition: background-color 0.3s ease;
    color: rgb(255, 255, 255);
    border: solid rgb(255, 255, 255) 0.125rem;
    margin: 1rem;
    width: 20rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: black;

}

.service4:hover,
.service3:hover,
.service2:hover,
.service1:hover {
    background-color: rgb(177, 182, 182);
}

.services-message {
    padding: 1rem;
    font-size: 1rem;
}

#back-buttton {
    background-color: rgb(0, 0, 0);
    padding: 0rem;
}

#cancel-button:hover {
    background-color: rgb(255, 4, 0);
    color: black;
}

#submit-button:hover {
    background-color: rgb(167, 252, 173);
    color: black;
}

#submit-button,
#cancel-button {
    border: solid black 1px;
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    font-weight: bold;
    border-radius: 50%;

}

#About-main-body {
    display: flex;
}

@media all and (min-width :400px) {
    .nav-button-top {
        margin-top: 0px;
        margin-bottom: 0%;
        border: none;
        background-color: black;
        color: white;
        padding: 5px;
        width: 6.2rem;
        height: 3rem;
        font: bold;
        margin: auto;
        box-sizing: border-box;
        cursor: pointer;
        font-size: medium;
    }
}

@media all and (max-width :400px) {
    .nav-button-top {
        margin-top: 0px;
        margin-bottom: 0%;
        border: none;
        background-color: black;
        color: white;
        padding: 5px;
        width: 1rem;
        height: 3rem;
        font: bold;
        margin: auto;
        box-sizing: border-box;
        cursor: pointer;
        font-size: medium;
    }

}

#Contact-icon-shortcut {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transition: transform 0.3s ease;


}

#Contact-icon-shortcut img {
    height: 4.7rem;
    width: 4.7rem;
    cursor: pointer;
    border-radius: 5rem;
}

#Contact-icon-shortcut img:hover {

    transform: scale(1.1);
}
#social-media-links img {
    border-radius: 1rem;
}
#social-media-links img:hover {
    transform: scale(1.5);
}