#navigation {
    border: solid black 1px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-button {
    background-color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}
